.modal__reward {
    padding: 32px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 24px;
}

.modal__reward:last-child {
    filter: grayscale(90%);
}

.modal__reward__headline {
   display: flex;
   justify-content: space-between; 
   
}
.modal__reward__headline-r {
    display: flex;
    /* justify-content: space-between;  */
    
 }

.modal__reward__title {
    font-size: 16px;
    font-weight:bold ;
   padding: 0 2rem;
}

.modal__reward__price {
    color: var(--Moderate-cyan);
    font-size: 14px;
    font-weight: bold;
    
}

.modal__reward__text {
    font-size: 13px;
    color: #777;
    line-height: 1.5;
}

.modal__reward__left {
    font-size: 26px;
    font-weight: bold;
}

.modal__reward__footer {
    display: flex;
    justify-content: space-between; 
}

.modal__button {
    font-size: 14px;
    color: white;
    padding: 1rem 2rem;
    background-color: var(--Moderate-cyan);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    /*  */
}
.modal__button:hover {
    background-color: var(--Dark-cyan);
}

@media (max-width: 750px) {
    .modal__reward__headline {
        display: flex;
        justify-content: normal; 
        padding-bottom: 2rem;
        flex-direction: column;
     }

     .modal__reward__footer {
        display: flex;
        justify-content: normal; 
        flex-direction: column;
    }

    .modal__reward__text {
        line-height: 1.2;
    }

    .modal__button {
        margin-top: 1rem;
        max-width: 80%;
    }
}