@use '../util/' as *;

.article {
    margin-top: rem(100);
    justify-content: center;
    align-content: center;
    @include breakpoint(large){
        justify-content: 0;
        align-content: 0;
    }



    &__grid {
        display: grid;
        grid-template-columns: rem(330);

        @include breakpoint(large){
            grid-template-columns: 280px 445px;
        }
    } 
    
    &__image {
        @include breakpoint(large){
            grid-column: 1/2;
            // width: 100%;
            // display: block;

        }
        img {
            display: block;
            width: rem(328);
            height: rem(200);
            @include breakpoint(large){
                width: rem(280);
                height: rem(280);
                // width: 100%;
                // display: block;
    
            }


        }

    }

    &__body {
        background: white;
        padding: 32px 42px 20px 32px;
        
        @include breakpoint(large){
            grid-column: 2/3;
            // display: block;
            // width: rem(160);
            // height: rem(160);
        }
    }

    &__header {
        font-size: 1rem;
        color: var(--Dark-Grayish);
        margin-bottom: rem(24);
        line-height: 1.5;
    }

    &__text {
        font-size: rem(12);
        line-height: 1.5;
        color: var(--Desaturated-Blue);
    }

    &__footer {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        margin-top: rem(34);
        
    }
    &__avatar {
        width: rem(40);
        height: rem(40);
        border-radius: 50%;
    }

    &__sign {
        align-self: end;
        
        color: #000;
        h2 {
            font-size: rem(12);
            margin: 0;
        }
        span {

            font-size: rem(11);
            color: var(--Desaturated-Blue);
        }
    }

    &__icon {
        display: grid;
        width: rem(32);
        height: rem(32);
        background: var(--Blue);
        border-radius: 50%;
        align-self: center;
        justify-self: center;
        
        img {
            display: block;
            align-self: center;
            justify-self: center;
            width: rem(17);
            height: rem(15);
        }



    }
}

.article__icon:hover::after{
    content: '';
    cursor: pointer;
    width: 100px;
    height: 100px;
    top:0;
    background-color: var(--Dark-Grayish);
}