@use '../util/' as *;

.section {
    @include breakpoint(large) {

        text-align: left;
    }
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    &__headline {
        font-family: 'Poppins', sans-serif;
        font-size: rem(38);
        color: #fff;
        font-weight: 600;
        margin: 0 rem(74) 0 rem(80);
        &:nth-child(2) {
            margin-bottom: rem(42);
        }
        @include breakpoint(large) {

            margin: 0 rem(74) rem(15) 0;
            &:nth-child(2) {
                margin-bottom: rem(45);
            }
        }
    }
    &__text {
        color: #fff;
        font-size: rem(26);
        margin: 0 rem(74) rem(60) rem(80);
        @include breakpoint(large) {

            margin: 0 rem(74) 0 0;
        }
    }
}

.btn {
    width: rem(400);
    height: rem(80);
    border: 1px solid var(--Violet);
    background: #fff;
    color: var(--Violet);
    font-size: rem(22);
    border-radius: 50px;
    letter-spacing: 1px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    margin-bottom: rem(128);
    &:hover {
        cursor: pointer;
        background: var(--Soft-Magenta);
        color: #fff;
    }
    @include breakpoint(large) {

        margin-top: rem(31);
    }

}