:root {
    --orange: hsl(35, 77%, 62%);
    --Red: #f15e50;

    --White: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
