@use '../util/' as *;

.free {


    padding: rem(90) 0;

    &__headline {
        padding-bottom: rem(42);
        text-align: center;
        font-size: rem(20);
        color: var(--Very-dark-blue);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-img {
           

            & img {
                
            }
        }

        &-text {
            padding: 0 rem(32);
            &_container {
                padding-top: rem(42);
                
                text-align: center;

                & h1 {
                    color: var(--Very-dark-blue);
                    padding-bottom: rem(24);
                }

                & p {
                    color: var(--Very-dark-grayish-blu);
                }
            }
        }
    }
}
.hidden__desktop {
    display: block;
}

.hidden__mobile {
    display: none;
}


@include breakpoint-up(medium) {
    .hidden__desktop {
        display: none;
    }

    .hidden__mobile {
        display: block;
    }

    .free {

        position: relative;
        overflow: hidden;

        &__headline {
            font-size: rem(32);
        }
    
        &__wrapper {
            flex-direction: row;
            padding-top: 3rem;
            padding-bottom: 20rem;
            &-img {
               
                flex: 1;
                
                & img {
                    height: 500px;
                    bottom: 30%;
                    left: -25%;
                    position: absolute;
                    z-index: 2;
                }
            }
    
            &-text {
                flex: 1;
                &_container {
                    & h1 {
                        font-size: rem(24);
                        text-align: left;
                    }
    
                    & p {
                        font-size: rem(14);
                        text-align: left;
                    }
                }
            }
        }
    }
}

@include breakpoint-up(large) { 
    .free { 
        &__headline {
            font-size: rem(48);
        }
        &__wrapper { 
            &-img {
                & img {
                    height: 700px;
                    bottom: 20%;
                }
            }
            &-text { 
                padding: 0 rem(160);

                &_container {
                    & h1 {
                        font-size: rem(32);
                        text-align: left;
                    }
    
                    & p {
                        font-size: rem(20);
                        text-align: left;
                    }
                }
            }
        }
    }
}