@use '../util/' as *;

.header {
    background: rgb(255,143,112);
    background: linear-gradient(90deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 100%);
    border-bottom-left-radius: 70px;

    &__nav {
        padding: 4rem 10.25rem; 
        display: flex;

       &-hamburger {
            display: none;
       }

        &-container {
            display: flex;
            gap: 50px;
        }
        &-menu {
            
            &_button {
                background: transparent;
                border: none;
                color: var(--White);
                position: relative;

                &:hover {
                    cursor: pointer;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 4px;
                        right: 0;
                        background: var(--White);
                    }
                }
            }
            &_items {
                background: #fff;
                display: none;
                border-radius: 6px;
                padding: 1rem 3rem 1rem 1rem;
                margin-top: 20px;
                position: absolute;
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: var(--Very-dark-blue);
                    
                    a:hover {
                        font-weight: bold;
                    }
                }
            }
        }

        &-login {
            margin: 0 0 0 auto;
        
            a {
                text-decoration: none;
                color: var(--White);
                font-weight: bold;
                
                &:last-child {
                    padding: 1rem 2.5rem; 
                    margin-left: 1rem;
                    background: var(--White);
                    border-radius: 50px;
                    color: var(--Light-red );

                    &:hover{
                        color: var(--White);
                        background-color: var(--Very-light-redC);
                    }

                }
            }
        }
        
    }
    &__logo {
        padding-right: 4rem;
        &img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        text-align: center;
        color: var(--White);
        
    }

    &__start {
        text-align: center;
        padding: 34px 0 134px 0;

        a {
            text-decoration: none;
            font-weight: bold;
            padding: 1rem 2.5rem; 
            background: var(--White);
            border-radius: 50px;
            color: var(--Light-red);

            &:hover{
                color: var(--White);
                background-color: var(--Very-light-redC);
            }

            &:last-child {
                border: 1px solid var(--White);
                color: var(--White);
                background: transparent;

                &:hover{
                    color: var(--Light-red);
                    background-color: var(--White);
                    border: none;
                }
            }
        }

    }

}

.active {
    display: flex !important;
}

.visible {
    display: block !important;
}
.hamburger {
    display: none;
}

@include breakpoint-down(large) {
    .header{
        &__nav {
            padding: 4rem 4rem; 
        }
    }
}

@include breakpoint-down(medium) {
    .header{

        &__nav {
            padding: 3rem 2.25rem;
            justify-content: space-between;
            align-items: center;
            &-hamburger{
                display: block;

                &:hover {
                    cursor: pointer;
                }
            }

            &-container {
                display: none;
                background-color: #fff;
                position: fixed;
                flex-direction: column;
                align-items: center;
                inset: 8rem 2rem 2rem 2rem;

            }

            &-login{
                display: none;
                position: fixed;
                bottom: 100px;
               left: 17%;
                width: 65%;
                flex-direction: column;
                align-items: center;
                border-top: 1px solid var(--Grayish-blue);
                padding-top: 2rem;
                a {
                    

                    color: var(--Very-dark-blue);
                    letter-spacing: 1px;
                    padding: 1rem 2.5rem;
                    &:hover{
                        color: var(--Light-red);
                    }
                    &:last-child {
                        margin-top: 1rem;
                        background: rgb(255,143,112);
                        background: linear-gradient(90deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 100%);
                        color: var(--White);

                        &:hover{
                            margin-top: calc(1rem - 4px);
                            color: var(--Light-red);
                            background: var(--White);
                            border: 2px solid var(--Light-red);
                        }
                    }
                }
                
                
            }
            &-menu {

                &:first-child {
                    padding-top: 2rem;
                }
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &_button {
                    color: var(--Very-dark-blue);
                    font-weight: bold;
    
                }
                &_items {
                    background: var(--Grayish-blue);
                    font-weight: bold;
                    padding: 1rem 4.5rem;
                    margin-top: 40px;
                    position:unset;

                    a {
                        padding: 0.5rem;
                    }
                }
            }
        }
    }
}

@include breakpoint-down(small) {
    .header{

        &__nav {
            padding: 3rem 1.375rem;
            justify-content: space-between;
            &-hamburger{
                display: block;
            }

            &-container {
                display: none;
            }

            &-login{
                display: none;
            }
        }

        &__start {
            padding: 34px 0 134px 0;
    
            a {
                padding: 1rem 1rem; 
            }
        }
    }
}