.header {
    // background: rgb(255,143,112);
    // background: linear-gradient(90deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 100%);


    background-image: url('../../../images/bg-pattern-intro-desktop.svg');

    // background:
    // linear-gradient(90deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 100%)
    //  url('../../../images/bg-pattern-intro-desktop.svg') center center / cover ;


    // isolation: isolate;
    // overflow: hidden;

    border-bottom-left-radius: 70px;

    // &__pattern {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     z-index: -1;
    //     top: -200px;
        
    // }

    &__nav {
        padding: 4rem 10.25rem; 
        display: flex;
       // flex-wrap: wrap;
       // 

        &-container {
            display: flex;
            gap: 50px;
            //width: 100%;
            //
            //align-items: center;
        }
        &-menu {
            
            &_button {
                background: transparent;
                border: none;
                color: var(--White);
                position: relative;

                &:hover {
                    cursor: pointer;
                    //border-bottom: 1px solid var(--White);

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 4px;
                        right: 0;
                        background: var(--White);
                    }
                }

                // &:hover ~ div { //js on click
                //     display: flex;
                // }
            }
            &_items {
                background: #fff;
                display: none;
                border-radius: 6px;
                padding: 1rem 3rem 1rem 1rem;
                margin-top: 20px;
                position: absolute;
                //top: 60px;

                flex-direction: column;

                a {
                    text-decoration: none;
                    color: var(--Very-dark-blue);
                    
                    a:hover {
                        font-weight: bold;
                    }
                }
            }
        }

        &-login {
            //display: flex;
            margin: 0 0 0 auto;
            
            

            a {
                text-decoration: none;
                color: var(--White);
                font-weight: bold;
                

                
                &:last-child {
                    padding: 1rem 2.5rem; 
                    margin-left: 1rem;
                    background: var(--White);
                    border-radius: 50px;
                    color: var(--Light-red );

                    &:hover{
                        color: var(--White);
                        background-color: var(--Very-light-redC);
                    }

                }
            }
        }
        
    }
    &__logo {
        padding-right: 4rem;
        &img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        text-align: center;
        color: var(--White);
        
    }

    &__start {
        text-align: center;
        padding: 34px 0 134px 0;

        a {
            text-decoration: none;
            font-weight: bold;
            padding: 1rem 2.5rem; 
            background: var(--White);
            border-radius: 50px;
            color: var(--Light-red);

            &:hover{
                color: var(--White);
                background-color: var(--Very-light-redC);
            }

            &:last-child {
                border: 2px solid var(--White);
                color: var(--White);
                background: transparent;

                &:hover{
                    color: var(--Light-red);
                    background-color: var(--White);
                    border: none;
                }
            }
        }

    }

}


.active {
    display: flex;
}