@use '../util/' as *;

.hamburger {

    &__menu {
        //display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--Almost-White);
        margin-left: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100vh;
        width: 245px;
        z-index: 5;
        opacity: 0;
    }
    &__hamburger {
        background: url('/images/icon-close-menu.svg') center center no-repeat;
        width: rem(26);
        height: rem(26);
        padding: 40px;
    }

    &__links {
        display: flex;
        margin-right: rem(100);
        flex-direction: column;
        //align-items: flex-start;
    }

    &__accordion {
        background: transparent;
        border: none;
        position: relative;
        margin-bottom: rem(20);
        width: 140px;

        img {
            position: absolute;
            top: 10px;
            right: 0;
        }
    }
    
    &__options {
        padding-left: rem(25);
    }

    &__option {
        display: flex;
        margin-top: rem(10);

        &:last-child {
            margin-bottom: rem(10);
        }
       

       
        
        p {
          
            padding-left: rem(14);
            justify-content: flex-end;
            font-size: rem(13);
        }
    }

    &__log {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: rem(20);
    }

    &__login {
       // margin-right: rem(35);
        width: 100%;
        margin-bottom: rem(20);
    }

    &__register {
        width: 80%;
        border: 2px solid var(--Medium-Gray) !important;
        padding: rem(8) rem(20);
        border-radius: rem(15);
    }
}

.hide {
    opacity: 1;
}