@use '../util/' as *;

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    @include breakpoint(large) {
        grid-template-columns: 1fr 1fr;
        height: 100vh;
    }
}