:root {
    --bg-color: #0f162d;
    --icon-violet: #ca59ff;
    --icon-blue: #6c7cff;
    --icon-cyan: #2affff;
    --icon-yellow: #fff629;

    --white: #FFF;
    --black: #000;
    --gray: #272d42;
}