.nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 160px;
}

.nav__menu-items {
    display: none;
}

.nav__menu-items-desktop {
    list-style: none;
    display: flex;
    gap: 30px
}

.nav__menu-items_item a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.nav__menu-hamburger_open, 
.nav__menu-hamburger_close {
    display: none;
} 

@media screen and (max-width: 800px) {

    .nav__menu-items-desktop {
        display: none;
    }
    .nav {
        padding: 36px 24px; 
    }
    .nav__logo {
     z-index: 2;
    }
    
    .nav__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
    }
    
    .nav__menu-items {
        list-style: none;
        display: flex;
        background-color: #fff;
        flex-direction: column;
        position: fixed;
        inset: 6rem 2rem 34rem 2rem;
        border-radius: 10px;
        z-index: 2;
    }
    
    .nav__menu-items_item {
        border-bottom: 1px solid #eee;
        padding: 24px 0px 24px 24px;
    }

    .nav__menu-items_item:last-child {
        border-bottom: none;
    }
    
    .nav__menu-items a {
        color: #000;
        font-weight: bold;
    }
    .nav__menu-hamburger_open, 
    .nav__menu-hamburger_close {
        display: block;
        cursor: pointer;
        width: 18px;
        height: 18px;
        z-index: 2;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0,0,0,0.1);
        box-shadow: inset 30px 30px 100px #000000,
        inset -30px -40px 100px #000000;
    }
}
