:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}




/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,body {
  height: 100%;
}
body {
text-rendering: optimizeSpeed;
line-height: 1.5;
font-family: 'Manrope', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* card*/
#root {
  background: var(--Dark-Blue);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: var(--Dark-Grayish-Blue);
  min-width: 345px;
  min-height: 315px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card__advice {
  color: var(--Neon-Green);
  font-size: 11px;
  margin-top: 44px;
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.card__text {
  color: var(--Light-Cyan);
  font-size: 1rem;
}

.card__image {
  background: url('../images/pattern-divider-mobile.svg') center center no-repeat;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 55px;
}

.card__dice {
  position: absolute;
  bottom: -10%;
  background-color: var(--Neon-Green);
  border: 22px solid var(--Neon-Green);
  border-radius: 50%; 
  height: 66px;
  width: 66px;
}

.card__dice:hover {
  cursor: pointer;
  box-shadow: 0 0 5px var(--Neon-Green), 0 0 20px var(--Neon-Green), 0 0 40px var(--Neon-Green);
  transition: all 200ms ease-in-out;
}



@media (min-width: 50em) {
  .card {
    min-width: 540px;
    min-height: 335px; 
  }
  .card__image {
    background: url('../images/pattern-divider-desktop.svg') center center no-repeat;

  }
}