@use '../util/' as *;


.slack  {
    padding: 0 28px;
    margin-bottom: rem(120);
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    &__image {

        @include breakpoint(medium) {
            width: rem(642);
            height: rem(388);
        }
    }
}

