@use '../util/' as *;

.calc {
    background: var(--White);
    padding: rem(32);
    border-radius: 25px;
    &__input:not(:first-of-type)
    {
        margin-top: 35px;
    }

    &__title {
       font-size: rem(14); 
       color: var(--Dark-grayish-cyan);
       margin-bottom: rem(12);
    }

    &__num {
        width: 100%;
        height: rem(48);
        background: var(--Very-light-cyan);
        text-align: right;
        border-radius: rem(6);
        font-size: rem(20);
        border: none;
        color: var(--Very-dark-cyan);
        padding-right: rem(10);

        &::placeholder {
            color: var(--Grayish-cyan);
        }
    }

    &__btn {
        text-align: center;
        background: var(--Very-dark-cyan);
        width: rem(148);
        height: rem(38);
        border-radius: rem(6);
        font-size: rem(20);
        border: none;
        color: var(--White);

        &:hover {
            background: var(--Strong-cyan);
            color: var(--Very-dark-cyan);
            cursor: pointer;
        }
    }
}

#custom {
    background: var(--Light-cyan);
    &::placeholder {
        color: var(--Grayish-cyan);
    }
}