.mc {
    background: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 732px;
    height: 270px;
    position: relative;
    border-radius: 15px;
    
}

.mc__logo {
    height: 58px;
    width: 58px;
    position: absolute;
    top: -10%;
    transform: translate(-50% -50%);
}

.mc__title {
    font-size: 26px;
    font-weight: bold;
    padding-top: 64px;
    padding-bottom: 20px;
}

.mc__text {
    padding-bottom: 35px;
    color: #666;
}

.mc__buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mc__buttons-back {
    padding: 18px 42px;
    background: var(--Dark-cyan);
    color: #fff;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.mc__buttons-bookmark {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    text-align: center;
    background-color: #eee;
    border-radius: 50px;
    width: 190px;
    cursor: pointer;

}
.mc__buttons-bookmark button {
    color: #777; 
    background: transparent;
    font-weight: bold;
    border: none;
    padding-right: 20px;
}

@media (max-width: 750px) {
    .mc {
        width: 328px;
        height: 285px; 
    }
    .mc__title {
        font-size: 16px;
        text-align: center;
        padding: 64px 66px 26px 66px
    }
    .mc__text {
        padding-bottom: 30px;
        text-align: center;
        font-size: 11px;
        padding: 0 28px;
    }
    .mc__buttons {
        margin-top: 28px;

    }
    
    .mc__buttons-back {
        font-size: 13px;
        padding: 18px 45px;
    }
    .mc__buttons-bookmark { 
        background: transparent;
        width: 58px
    }
    .mc__buttons-bookmark button {
        display: none;
    }
}