@use '../util/' as *;

.main {
    @include breakpoint-up(medium) {
        grid-column: span 1;
        grid-row: span 2;
    }
    @include breakpoint-up(large) {
        grid-column: span 2;
        grid-row: span 2;
    }


    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        @include breakpoint-up(large) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    &__image {
        background: url('/assets/images/image-web-3-mobile.jpg') center center / cover no-repeat;
        min-width:rem(345);
        min-height: rem(302);
        margin-bottom: rem(30);

        @include breakpoint-up(large) {
            background: url('/assets/images/image-web-3-desktop.jpg') center center / cover no-repeat;
            grid-column: span 2;
            grid-row: span 1;
        }
        img {
            min-width:rem(345);
            min-height: rem(302);
        }
    }

    &__title {
        margin-bottom: rem(28);
        @include breakpoint-up(large) {
            grid-column: span 1;
            grid-row: 2 / 3;
        }
    }

    &__headline {
        font-size: 1.9375rem;
        font-size: clamp(1.9375rem, 1.6734154929577465rem + 1.1267605633802815vw, 2.6875rem);
        line-height: 1.1;
        font-weight: 800;
        letter-spacing: 2px;

        @include breakpoint-down(medium) {
            span::after {
                content: '\a';
                white-space: pre;
            }
        }

    }

    &__subtext {
        @include breakpoint-up(large) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }

    &__text {
        font-size: rem(14);
        line-height: 1.5;
        margin-bottom: rem(28);
    }

    &__button {
        text-align: center;
        letter-spacing: 2px;
        font-size: rem(14);
        background: var(--Red);
        width: rem(183);
        height: rem(46);
        border: 2px solid #d02c20;
        color: #fff;
        &:hover {
            background: var(--Very-dark-blue);
            border: 2px solid var(--Very-dark-blue);
            cursor: pointer;
        }

    }
}