@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.arrow {
  width: 9px !important;
  height: 14px !important;
}

.menu-item {
  position: relative;
}
.s {
  color: hsl(219, 35%, 92%);
  background: hsl(220, 14%, 75%);
}

.menu-item:hover:before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: hsl(26, 100%, 55%); 
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  animation: hover 250ms;
  transform: translate(-50%);

}



@keyframes hover {
  0% {
    width: 0%;
  }
  22% {
    width: 22%;
  }
  44% {
    width: 44%;
  }
  66% {
    width: 66%;
  }
  88% {
    width: 88%;
  }
  100% {
    width: 100%;
  }
}





/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,body {
  height: 100%;
}
body {
text-rendering: optimizeSpeed;
line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}