@keyframes flip-in {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-out {
    from {
        transform: rotateX(-90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.flip-in {
    animation: flip-in 200ms;
    animation-fill-mode: forwards;
}

.flip.out {
    animation: flip-out 200ms;
    animation-fill-mode: forwards;
}