@keyframes flip-in {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-out {
    from {
        transform: rotateX(-90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.flip-in {
    animation: flip-in 250ms;
    animation-fill-mode: forwards;
}

.flip.out {
    animation: flip-out 250ms;
    animation-fill-mode: forwards;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
       transform: translateY(-6px); 
    }
    100% {
        transform: translateY(0);
    }
}

.jump {
    animation: jump 250ms;
    animation-fill-mode: forwards;
}